.nav-menu, .nav-menu ul, .nav-menu ul li, .nav-menu ul li a, .nav-menu .menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-menu:after, .nav-menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.nav-menu .menu-button {
  display: none;
}
.nav-menu {
  width: auto;
  zoom: 1;
  font-family: 'Fauna One', Helvetica, sans-serif;
  background: #212121;
  background: -moz-linear-gradient(top, #212121 0%, #c1c1c1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #212121), color-stop(100%, #c1c1c1));
  background: -webkit-linear-gradient(top, #212121 0%, #c1c1c1 100%);
  background: -o-linear-gradient(top, #212121 0%, #c1c1c1 100%);
  background: -ms-linear-gradient(top, #212121 0%, #c1c1c1 100%);
  background: linear-gradient(to bottom, #212121 0%, #c1c1c1 100%);
}
.nav-menu > ul {
  background: url('images/bg.png');
  box-shadow: inset 0 -3px 0 #f1f1f1;
}
.nav-menu.align-right > ul > li {
  float: right;
}
.nav-menu > ul > li {
  float: left;
  display: block;
}
.nav-menu.align-center > ul {
  float: none;
  text-align: center;
}
.nav-menu.align-center > ul > li {
  float: none;
}
.nav-menu.align-center ul ul {
  text-align: left;
}
.nav-menu > ul > li > a {
  padding: 11px;
  border: 1px solid #f1f1f1;
  text-decoration: none;
  float: none;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.nav-menu > ul > li:hover > a, .nav-menu > ul > li > a:hover, .nav-menu > ul > li.active > a, .nav-menu > ul > li.current-menu-item > a, .nav-menu > ul > li.current_page_item > a {
  color: #212121;
  background: #c1c1c1;
}
.nav-menu > ul > li.has-sub > a {
  padding-right: 45px;
}
.nav-menu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #f1f1f1;
  right: 17px;
  top: 22px;
}
.nav-menu > ul > li.has-sub.active > a::after, .nav-menu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff;
}
.nav-menu ul ul {
  position: absolute;
  left: -9999px;
  top: 60px;
  padding-top: 6px;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}
.nav-menu.align-right ul ul {
  text-align: right;
}
.nav-menu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}
.nav-menu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;
}
.nav-menu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px;
}
.nav-menu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px;
}
.nav-menu > ul > li > ul {
  top: 120px;
}
.nav-menu > ul > li:hover > ul {
  top: 52px;
  left: 0;
  opacity: 1;
}
.nav-menu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
.nav-menu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
.nav-menu.align-right ul ul ul {
  padding-right: 6px;
}
.nav-menu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
.nav-menu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1;
}
.nav-menu ul ul li a {
  text-decoration: none;
  padding: 11px 25px;
  color: #777777;
  background: #ffffff;
  box-shadow: 0 2px 2px #212121, 1px 1px 1px #212121, -1px 1px 1px #212121;
}
.nav-menu ul ul li:hover > a, .nav-menu ul ul li.active > a, .nav-menu ul ul li.current-menu-item > a, .nav-menu ul ul li.current_page_item > a {
  color: #333333;
}
.nav-menu ul ul li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.nav-menu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.nav-menu > ul > li > ul::after {
  position: absolute;
  display: block;
}
.nav-menu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px;
}
.nav-menu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #777777;
  right: auto;
  left: 17px;
}
.nav-menu ul ul li.has-sub.active > a::after, .nav-menu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333;
}
.nav-menu.align-right ul ul li.has-sub.active > a::after, .nav-menu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #333333;
  border-left-color: transparent;
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .nav-menu {
    background: #212121;
    width: 100%;
  }
  .nav-menu > ul {
    display: none;
  }
  .nav-menu > ul.open {
    display: block;
    border-top: 1px solid #f1f1f1;
  }
  .nav-menu.align-right > ul {
    float: none;
  }
  .nav-menu.align-center > ul {
    text-align: left;
  }
  .nav-menu > ul > li, .nav-menu.align-right > ul > li {
    float: none;
    display: block;
  }
  .nav-menu > ul > li > a {
    padding: 6px;
    border-right: 0px solid #f1f1f1;
  }
  .nav-menu > ul > li:hover > a, .nav-menu > ul > li.active > a, .nav-menu > ul > li.current-menu-item > a, .nav-menu > ul > li.current_page_item > a {
    background: #c1c1c1;
  }
  .nav-menu .menu-button {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    padding: 18px 25px 18px 25px;
    text-transform: uppercase;
    background: url('images/bg.png');
    cursor: pointer;
  }
  .nav-menu ul ul, .nav-menu ul li:hover > ul, .nav-menu > ul > li > ul, .nav-menu ul ul ul, .nav-menu ul ul li:hover > ul, .nav-menu.align-right ul ul, .nav-menu.align-right ul li:hover > ul, .nav-menu.align-right > ul > li > ul, .nav-menu.align-right ul ul ul, .nav-menu.align-right ul ul li:hover > ul {
    left: 0;
    right: auto;
    top: auto;
    opacity: 1;
    width: 100%;
    padding: 0;
    position: relative;
    text-align: left;
  }
  .nav-menu ul ul li {
    width: 100%;
  }
  .nav-menu ul ul li a {
    width: 100%;
    box-shadow: none;
    padding-left: 35px;
  }
  .nav-menu ul ul ul li a {
    padding-left: 45px;
  }
  .nav-menu ul ul li:first-child > a, .nav-menu ul ul li:last-child > a {
    border-radius: 0;
  }
  .nav-menu .menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
    right: 25px;
    top: 18px;
  }
  .nav-menu .menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #f1f1f1;
    right: 25px;
    top: 28px;
  }
  .nav-menu > ul > li.has-sub > a::after, .nav-menu ul ul li.has-sub > a::after {
    display: none;
  }
}
